<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
  crossorigin="anonymous">
<!--JS  -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
  crossorigin="anonymous"></script>


<!-- Formulário de inserccão -->
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
  <img src="assets\img\brasao.png">
  <h1 class="display-4">Agendamento de atendimento advocatício</h1>
</div>
<div class="container">
  <br>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <form #f="ngForm" (submit)="form_submit(f)">
        <div class="form-group row">
          <label class="col-2 col-form-label">Nome do advogado:</label>
          <div class="col-10">
            <input class="form-control" type=”text” ngModel name="nome" id="nome" placeholder="Nome do advogado" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Número da OAB:</label>
          <div class="col-10">
            <input class="form-control" type="text" ngModel name="oab" placeholder="Número da OAB:" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Número do Preso:</label>
          <div class="col-10">
            <input class="form-control" type="text" ngModel name="numeroPreso" placeholder="Número da Preso:" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Localização:</label>
          <div class="col-10">
            <input class="form-control" type="text" ngModel name="localizacao" placeholder="Localização:" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Presídio:</label>
          <div class="col-10">
            <input class="form-control" type="text" ngModel name="presidio" placeholder="Presídio:" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Cela:</label>
          <div class="col-10">
            <input class="form-control" type="text" ngModel name="cela" placeholder="Cela:" required>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
